h3 Current data
- if (current_market.error)
  p(class="error")= current_market.error
table
  tr
    th Last
    th High
    th Threshold
    th Middle
    th Low
    th Span
  tr
    td= current_market.last.toFixed(2)
    td= current_market.high.toFixed(2)
    td= current_market.threshold.toFixed(2)
    td= current_market.middle.toFixed(2)
    td= current_market.low.toFixed(2)
    td= (current_market.shift_span*100).toFixed(2)+"%"
h3 Calculations
table
  tr
    th EMA
    th Momentum average
    th Momentum healthy
    th Updated at
  tr
    td= current_market.EMA.toFixed(2)
    td= current_market.momentum_average.toFixed(5)
    td= current_market.momentum_record_healthy ? "Yes" : "No"
    td= new Date(current_market.time)
- if (current_market.simulation_progress)
  #live-simulation-progress
    h3 Simulation progress
    .simulation-progress-bar-container
      #simulation-progress-bar(style="width: #{parseInt(current_market.simulation_progress * 100)}%;")
      #simulation-progress-indicator(style="float: left; position: absolute; padding: .1em;")= parseInt(current_market.simulation_progress * 100) + "%"