h3 Operations
p Sell BTC amount

// - var trader_count = Object.keys(traders).length
// - var currency_label = helpers.current_currency.toUpperCase()

// - if (trader_count)
//   each trader, trader_name in traders
//     .trader.col-md-5(id="#{formatter.standardize(trader_name)}")
//       .spacer
//       p
//         b #{'T' + trader_name.split('_')[1] || ''} (#{trader.amount.toFixed(5)} BTC)
//         span  at average buy price
//         b  #{trader.average_buy_price ? trader.average_buy_price.toFixed(2) : 0} #{currency_label}
//         span  | 
//         a.removal(href="#", data-trader="#{trader_name}") Remove trader
//       span
//       - if (trader.purchases || trader.sales)
//         h3 Trading overview
//         table.table.table-striped
//           tr
//             th Type
//             th Count
//             th Volume #{currency_label}
//             th Volume BTC
//           tr
//             td Purchases
//             td #{trader.purchases}
//             td #{trader.book.purchases_amount_currency.toFixed(2)}
//             td #{trader.book.purchases_amount_btc.toFixed(5)}
//           tr
//             td Sales
//             td #{trader.sales}
//             td #{trader.book.sales_amount_currency.toFixed(2)}
//             td #{trader.book.sales_amount_btc.toFixed(5)}
//       .spacer
//       - if (trader.book.entries && trader.book.entries.length)
//         h3 Trader book
//         .scrollable
//           - var book_entries = trader.book.entries.sort(function(a, b) { return b.time - a.time })
//           table.table.table-striped
//             tr
//               th Type
//               th Price
//               th Amount #{currency_label}
//               th Amount BTC
//               th Time
//             each entry in book_entries
//               tr
//                 td #{formatter.standardize(entry.type)}
//                 td #{entry.price.toFixed(2)}
//                 td #{(entry.amount * entry.price).toFixed(2)}
//                 td #{entry.amount.toFixed(5)}
//                 td #{formatter.tFormat(entry.time)}

// - else
//   .col-md-5
//     h3 No traders added.