each trader, trader_name in traders
  .trader(id="#{trader_name}")
    h4 Deals (#{trader_name}) (#{trader.record.current_deals} / #{helpers.current_currency.toUpperCase()+" "+((trader.record || {}).current_investment || 0).toFixed(2)})
      span  | 
      - if (trader.next_deal_amount)
        span= ("Next: " + trader.next_deal_amount.toFixed(2)+" USD")
        span  | 
      - if (trader.next_deal_ratio)
        span= ("Multi: " + trader.next_deal_ratio.toFixed(2)+"x")
        span  | 
      a.removal(href="#", data-trader="#{trader_name}") Remove
    table.deals
      tr
        th Buy price
        th Amount
        th
      each deal in trader.deals
        tr
          td= deal.buy_price.toFixed(2)
            - if (deal.is_lowest)
              span.lowest  (Min)
            - if (deal.is_highest)
              span.highest  (Max)
          td= (deal.amount || 0).toFixed(7)+" BTC"
          td
            a.removal(href="#", data-deal="#{deal.name}", data-trader="#{trader_name}") Remove