form#trading-config-form.async-form(action="/trading_config/update", method="post")
  table.table.table-striped
    mixin config_form_input(trading_config)
  .clearer
  button.btn.btn-default Submit changes

mixin config_form_input(config_set)
    
    each config, attribute in trading_config
      tr
        td 
          label(for="#{attribute}-input") 
            b #{helpers.sanitizeVariableName(attribute)}
            span(style="font-weight: normal;")  (#{helpers.labels.trading[attribute].label})
          p.small #{helpers.labels.trading[attribute].desc}
        td
          input.form-control(type="text", name="#{attribute}", value="#{config}", id="{attribute}-input")

        
