each trader, trader_name in traders
  .trader(id="#{trader_name}")
    h4 Deals (#{trader_name}) (#{trader.record.current_deals} / #{helpers.current_currency.toUpperCase()+" "+trader.record.current_investment.toFixed(2)})
      span  | 
      a.removal(href="#", data-trader="#{trader_name}") Remove
    table.deals
      tr
        //th Deal name
        th Buy price
        //- th Would sell at
        th Amount
        //- th Trailing stop
        th
      each deal in trader.deals
        tr
          td= deal.buy_price.toFixed(2)
            - if (deal.is_lowest)
              span.lowest  (Min)
            - if (deal.is_highest)
              span.highest  (Max)
          //- td= (deal.would_sell_at || 0).toFixed(2)
          td= deal.amount+" BTC"
          //- td= (deal.stop_price || 0).toFixed(2)
          td
            a.removal(href="#", data-deal="#{deal.name}", data-trader="#{trader_name}") Remove