h3 Current $
- if (current_wallet.error)
  p(class="error")= current_wallet.error

table
  tr
    th Currency
    th Balance
    th Available
    th Reserved
  tr
    td= "USD"
    td= "$"+current_wallet.usd_balance.toFixed(2)
    td= "$"+current_wallet.usd_available.toFixed(2)
    td= "$"+current_wallet.usd_reserved.toFixed(2)
  tr
    td= "BTC"
    td= current_wallet.btc_balance.toFixed(2)
    td= current_wallet.btc_available.toFixed(2)
    td= current_wallet.btc_reserved.toFixed(2)
h3 Calculations
table
  tr
    th Cool
    th Initial investment
    th $ available to traders
    th $ value
    th Updated at
  tr
    td= parseInt(current_wallet.cool*100) + "%"
    td= "$"+current_wallet.initial_investment
    td= "$"+current_wallet.available_to_traders.toFixed(2)
    td= "$"+current_wallet.usd_value.toFixed(2)
    td= helpers.moment(current_wallet.timestamp).fromNow()
