extends layout
- var class_for_status = (traders_awake == true ? "active" : "inactive")
- if (simulator_enabled)
  block head
    script(type='text/javascript', src='/internal/front-simulator.js')

block navigation
  nav.navbar.navbar-default.navbar-fixed-top
    #live-overview(class="#{class_for_status}", style="display: none;")
      //- h2 &sum; Overview
      .content
  
  .col-md-4#live-messages
    .content
block content


  

  .row.block#decision-indicators(class="#{class_for_status}", style="display: none;")
    .col-md-4
      h2 &plusmn; Decision indicators
    .content


  .row
    .col-md-5.block#live-balance(class="#{class_for_status}", style="display: none;")
      h2 &#2947; Wallet
      .content
    .col-md-5.block#live-ticker(class="#{class_for_status}", style="display: none;")
      h2 &cap; Market
      .content



  .block.row#live-traders(class="#{class_for_status}", style="display: none;")
    .col-md-4
      h2 &#9801; Traders (#{helpers.sanitizeVariableName(config.exchange.selected)})
      .clearer
      - if (simulator_enabled)
        form.async-form(action="/remove_all_simulator_deals", data-method="get")
          button.btn.btn-warning Remove all deals
      - else
        button.btn.btn-default.trader-switch(data-action=(traders_awake == true ? "/stop" : "/start"))= (traders_awake == true ? "STOP" : "START")
    .spacer
    .content
    .spacer
    form.async-form(action="trader/create", method="post", style="margin-bottom: 10px;")
      button.btn.btn-default Add trader
  
  // Simulator stuff
  - if (simulator_enabled)
    .row
      .block.col-md-4#simulator-data-sets
        h2 Simulation data sets
        .content
          include _simulator_data_sets
        .clearer
        button.btn.btn-default#generator-launch Generate data
      .block.col-md-6#live-simulation
        .content
          button.btn.btn-success#simulator-run(style="display: none;") Simulate trading
          button.btn.btn-info#simulator-save-data(style="display: none;") Save data
          .spacer
          #chart
       
  .block#live-sheets(class="#{class_for_status}", style="display: none;")
    h2 Current value change
    .content
  .row.block#live-trading-config(class="#{class_for_status}")
    .col-md-4
      h2 Configuration
      a(href="/trading_config/reset")
        button.btn.btn-warning(type="button") Reset config
    .spacer
    .col-md-5
      h3 Trading 
      include _trading_config
    .col-md-5
      h3 Strategies
      include _trading_strategies
    .content
  include _shares

block footer
  