extends layout

block navigation
  #live-messages
    .content
block content
  - var class_for_status = (traders_awake == true ? "active" : "inactive")
  .clearer  
  .block#live-traders(class="#{class_for_status}")
    h2 Traders
    .clearer
    button.trader-switch.lefter(data-action=(traders_awake == true ? "/stop" : "/start"))= (traders_awake == true ? "STOP" : "START")
    form.lefter(action="trader/create", method="post", style="margin-bottom: 10px;")
      button Add trader        
    .clearer
    .content
  .block#live-balance(class="#{class_for_status}")
    h2 Wallet
    .content
  .block#live-ticker(class="#{class_for_status}")
    h2 Market
    .content
  .clearer
  .block#live-sheets(class="#{class_for_status}")
    h2 Current $ value change
    .content
  .block#live-trading-config(class="#{class_for_status}")
    h2 Trading configuration
    .content