extends layout

block content
  - var class_for_status = (traders_awake == true ? "active" : "inactive")
  h1= title
  button.trader-switch(data-action=(traders_awake == true ? "/stop" : "/start"))= (traders_awake ? "Stop traders" : "Wake traders")
  .block(class="#{class_for_status}")
    form(action="trader/create", method="post")
      //input(name="start_price", type="text", placeholder="$")
      button Add trader
  .block#live-traders(class="#{class_for_status}")
    p ---
  .block#live-balance(class="#{class_for_status}")
    p ---
  .block#live-ticker(class="#{class_for_status}")
    p ---
  .block#live-decisions(class="#{class_for_status}")
    h2 Decisions
  .block#live-sheets(class="#{class_for_status}")
    h2 Value sheets
  .block#live-messages(class="#{class_for_status}")
    h2 Messages
  .block#live-errors(class="#{class_for_status}")
    h2 Errors
  .block#live-value(class="#{class_for_status}")
    h2 Value
    #value-graph
