h2 Deal sale
p
  - if (deal)
    h3 deal.name
    p Amount: #{deal.amount} BTC
    p Bought for: $#{(deal.amount * deal.buy_price)}
    p Original sale price: $#{deal.sell_price}
p
  - if (market.current)
    h3 Current market details
    each value, property in market.current
      p #{property}: #{value}
p
  - if (wallet.current)
    h3 Current wallet details
    each value, property in wallet.current
      p #{property}: #{value}
