h2 Deal sale
p
  - if (deal && deal.names)
    h3 Sale combined from:
    each deal_name in deal.names
      p= deal_name
    p Amount: #{deal.amount} BTC
    p Bought for: $#{(deal.amount * deal.buy_price)}
    p Sold for (Aligned sale price): $#{deal.amount * deal.aligned_sell_price}
p
  - if (market.current)
    h3 Current market details
    each value, property in market.current
      p #{property}: #{value}
p
  - if (wallet.current)
    h3 Current wallet details
    each value, property in wallet.current
      p #{property}: #{value}