h2 Sale
p
  - if (sale)
    p Amount: #{sale.amount} BTC
    p Bought for: $#{sale.price.toFixed(2)}
p
  - if (market.current)
    h3 Current market details
    each value, property in market.current
      p #{property}: #{value}
p
  - if (wallet.current)
    h3 Current wallet details
    each value, property in wallet.current
      p #{property}: #{value}
